* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
.button {
  padding: 10px 15px;
  font-size: 12px;
  background-color: #227a60;
  color: #d0e1c3;
  border: 1px solid;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.loginPage {
  background: url(/images/LoginPage.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
}
.signupPage {
  background: url(/images/SignupPage.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
}
.profilePage {
  background: url(/images/ProfilePage.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
}
.plants-details-banner {
  background: url(/images/PlantsDetailsPage.jpg) no-repeat center center/cover;
  width: 100%;
  height: 500px;
}
.about-page-banner {
  background: url(/images/AboutPage.jpg) no-repeat center center/cover;
  width: 100%;
  height: 500px;
}
.all-plants-page {
  background: url(/images/AllPlantsPage.jpg) no-repeat center center/cover;
  width: 100%;
  height: 500px;
  box-shadow: 0px 15px 10px -15px #333;
}
.myPlants-banner {
  background: url(/images/MyPlantsPage.jpg) no-repeat center center/cover;
  width: 100%;
  height: 500px;
}
.wishList-banner {
  background: url(/images/WishlistPage.jpg) no-repeat center center/cover;
  width: 100%;
  height: 500px;
}

.details-img {
  width: 400px;
  padding: 32px;
}
.discover-allPlants {
  background: url(/images/plants-discover.jpeg) no-repeat center center/cover;
  opacity: 0.7;
  width: 100%;
  height: 250px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discover-allPlants h1 {
  
  color: white;
  margin-bottom: 20px;
}
.plants-category {
  margin-top: 40px;
}

.details-banner-wrapper {
  z-index: 1;
  color: white;
  width: 500px;
  height: 400px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 300px;
}
.banner-content {
  margin: 20px;
  line-height: 2;
}
.grey-color {
  background-color: rgba(51, 51, 51, 0.7);
}
.yellow-color {
  background-color: rgb(226, 188, 53, 0.6);
  font-weight: 500;
}
.brown-color {
  background-color: rgba(168, 130, 85, 0.7);
}
.orange-color {
  background-color: rgba(220, 117, 42, 0.7);
}
.primary-color {
  background-color: #227a60;
  color: white;
}
.discover-allPlants-content {
  margin-left: 50px;
}
.plant-details-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: auto;
}
.plant-characteristics h4 {
  margin-bottom: 8px;
  display: flex;
}
.posted-reviews {
  display: flex;
  align-items: center;
  margin: 10px;
}
.posted-reviews p {
  display: flex;
  margin: 8px 0;
}
.nav {
  display: flex;
  color: #d0e1c3;
  align-items: center;
}
.nav-options {
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav-options a {
  color: #d0e1c3;
  padding: 20px;
  font-size: 1.2rem;
}

.carousel-container {
  width: 90%;
  margin: 0 auto;
}


.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
  background-color: #f0f0f0; 
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}