* {
  margin: 0;
  padding: 0;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.loginPage {
  background: url(/images/LoginPage.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
}
.signupPage {
  background: url(/images/SignupPage.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
}
.profilePage {
  background: url(/images/ProfilePage.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
}
.plants-details-banner {
  background: url(/images/PlantsDetailsPage.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 500px;
}
.all-plants-page {
  background: url(/images/AllPlantsPage.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 500px;
}
.myPlants-banner {
  background: url(/images/MyPlantsPage.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 500px;
}
.wishList-banner {
  background: url(/images/WishlistPage.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 500px;
}
